<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Diet For</title>
</head>
<body>
    {% include 'admin_head.html' %}

    <h1 class="text-center mt-20">Add Diet For</h1>
    <div class="card_enrolled_view_diet mt-50 p-10">
        <div class="row">
            <div class="col-4">
               <div class=" p-20">
                    <form action="diet_type_action" method="post">
                        <div class="mt-10 p-10">
                            <label for="diet_name">Diet For Name</label>
                            <div class="mt-5">
                                <input type="text" class="input-class" name="diet_name" id="diet_name" placeholder="Enter Diet For" required>
                            </div>
                        </div>
                        <div class="p-10">
                            <input type="submit" class="submit-btn p-5" value="Add">
                        </div>
                    </form>
               </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4 p-10">
                <table border="1" class="table">
                    <thead>
                        <tr>
                            <th>Diet Type Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diet in diets %}
                        <tr>
                            <td>{{diet['diet_name']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>