{% include 'link.html' %}

<nav class="row nav p-10">
    <div class="col-4"></div>
    <div class="row col-4">
        <div class="col-3 text-center"><a class="nav-items" href="/">Home</a></div>
        <div class="col-3 text-center"><a class="nav-items" href="/admin_login">Admin</a></div>
        <div class="col-3 text-center"><a class="nav-items" href="/nutrition_login">Nutrition</a></div>
        <div class="col-3 text-center"><a class="nav-items" href="/user_login">User</a></div>
    </div>
    <div class="col-4 row">

    </div>
</nav>


