{% include 'link.html' %}

<nav class="row nav p-10">
    <div class="col-4 row">
        <div class="col-4 text-center"><a class="nav-items" href="/nutrition_home">Home</a></div>
        <div class="col-4 text-center"><a class="nav-items" href="/create_diet_plan">Create Diet Plan</a></div>
        <div class="col-4 text-center"><a class="nav-items" href="/view_diet_plans">View Diet Plan</a></div>
    </div>
    <div class="col-4 row">
        <div class="col-4 text-center"><a class="nav-items" href="/view_enrolled_diet_plans">Enrolled Diet Plans</a></div>
        <div class="col-4 text-center"><a class="nav-items" href="/view_review">View Review</a></div>
    </div>
    <div class="col-4 row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3 text-center"><a class="nav-items" href="/logout">Logout</a></div>
    </div>
</nav>