<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Food Details</title>
</head>
<body>
    {% include 'nutritionists_head.html' %}
    <h1 class="text-center mt-30">Update Food Timings</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-40">
            <div class="card_enrolled_view_diet p-10">
            <form action="update_food_details_action" method="post">
                <input type="hidden" name="food_timing_id" value="{{food_timings['_id']}}">
                    <div class="p-10">
                        <label for="timing_title">Timing Title</label>
                        <div class="mt-5">
                            <input class="input-class" type="text" id="timing_title" name="timing_title" value="{{food_timings['food_timing_title']}}" required> 
                        </div>
                    </div>
                    <div class="p-10">
                        <label for="food_time">Food Timing</label>
                        <div class="mt-5">
                            <input class="input-class" type="time" id="food_time" name="food_time" value="{{food_timings['food_time']}}" placeholder="Food Time" required> 
                        </div>
                    </div>
                    <div class="p-10">
                        <label for="calories_can_take">Calories to Take</label>
                        <div class="mt-5">
                            <input class="input-class" type="number" id="calories_can_take" name="calories_can_take" value="{{food_timings['facts']['calories_can_take']}}" required>
                        </div>
                    </div>
                    <div class=" p-10">
                        <label for="carbs_can_take">Carbohydrates to Take</label>
                        <div class="mt-5">
                            <input class="input-class" type="number" id="carbs_can_take" name="carbs_can_take" value="{{food_timings['facts']['carbs_can_take']}}" required>
                        </div>
                    </div>
                    <div class="p-10">
                        <label for="proteins_can_take">Proteins to Take</label>
                        <div class="mt-5">
                            <input class="input-class" type="number" id="proteins_can_take" name="proteins_can_take" value="{{food_timings['facts']['proteins_can_take']}}" required>
                        </div>
                    </div>
                    <div class="p-10">
                        <label for="fats_can_take">Fats to Take</label>
                        <div class="mt-5">
                            <input class="input-class" type="number" id="fats_can_take" name="fats_can_take" value="{{food_timings['facts']['fats_can_take']}}" required>
                        </div>
                    </div>
                    <div class="p-10">
                        <input class="submit-btn p-5 mt-20" type="submit" value="Update Food Timings">
                    </div>
            </form>
        </div>
        </div>
        <div class="col-4"></div>
    </div>
</body>
</html>