{% include 'link.html' %}

<nav class="row nav p-10">
    <div class="col-4 row">
        <div class="col-2 text-center"><a class="nav-items" href="/user_home">Home</a></div>
        <div class="col-4 text-center"><a class="nav-items" href="/view_diet_plans">View Diet Plan</a></div>
        <div class="col-4 text-center"><a class="nav-items" href="/view_enrolled_diet_plans">Enrolled Diet Plans</a></div>
        <div class="col-2 text-center"></div>
    </div>
    <div class="row col-4"></div>
    <div class="col-4 row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3 text-right"><a class="nav-items" href="/logout">Logout</a></div>
    </div>
</nav>